In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Load the both test and train data into dataframe
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
#Display the size of both test and train data.
print("\nThe train data size is : {} ".format(train.shape)) 
print("The test data size is : {} ".format(test.shape))

The train data size is : (1460, 81)
The test data size is : (1459, 80)

In [4]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
#Concatinate both dataframe to find how many missing cells in each columns
all_data = pd.concat((train, test)).reset_index(drop=True)

#Get the sum of all the empty values in the dataframe
all_data_na = all_data.isnull().sum()  

#Ignore the columsn which don't have any empty cells 
all_data_na = all_data_na.drop(all_data_na[all_data_na == 0].index).sort_values(ascending=False)[:30]

#Assign it to a data frame and display the count
missing_data = pd.DataFrame({'Missing Ratio' :all_data_na})
missing_data

              Missing Ratio
PoolQC                 2909
MiscFeature            2814
Alley                  2721
Fence                  2348
SalePrice              1459
FireplaceQu            1420
LotFrontage             486
GarageQual              159
GarageCond              159
GarageFinish            159
GarageYrBlt             159
GarageType              157
BsmtExposure             82
BsmtCond                 82
BsmtQual                 81
BsmtFinType2             80
BsmtFinType1             79
MasVnrType               24
MasVnrArea               23
MSZoning                  4
BsmtFullBath              2
BsmtHalfBath              2
Utilities                 2
Functional                2
Electrical                1
BsmtUnfSF                 1
Exterior1st               1
Exterior2nd               1
TotalBsmtSF               1
GarageCars                1

In [6]:
#Check the uniques datatypes available in the dataset
train.dtypes.unique()

array([dtype('int64'), dtype('O'), dtype('float64')], dtype=object)

In [7]:
# Checking columns which are Categorical Data
train.select_dtypes(include=['O']).columns

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

In [8]:
# Checking columns which are Numerical Data 
train.select_dtypes(include=['int64','float64']).columns

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [9]:
#Getting the count of both categorical and numerical columns
cat = len(train.select_dtypes(include=['object']).columns)
num = len(train.select_dtypes(include=['int64','float64']).columns)
print('Total Features: ', cat, 'categorical', '+',
      num, 'numerical', '=', cat+num, 'features')

Total Features:  43 categorical + 38 numerical = 81 features

In [10]:
#Remove the ID column
train.drop(['Id'], axis=1)

#Replace the null cells in the numerical column with 0
train_numerical = train.select_dtypes(exclude=['object'])
train_numerical.fillna(0,inplace = True)

#Replace the null cells in the catogorical column with NONE
train_categoric = train.select_dtypes(include=['object'])
train_categoric.fillna('NONE',inplace = True)

#Merge both the column. Now the Train dataframe don't have any empty cells
train = train_numerical.merge(train_categoric, left_index = True, right_index = True)

In [11]:
train.shape

(1460, 81)